:root {
    --mlin-color: #d31145;
    --mlin-dark-color: #690922;
    --light-grey: #f2f2f2;
    --grey: #7f7f7f;
    --dark-grey: #6c757d;
    --darker-grey: #333;
}
html, body {overflow-x: hidden; }
/* navbar */
.toggler {
    background-color: white;
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}
.toggler, .toggler:focus, .toggler:active, .toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}
.toggler span {margin: 0; padding: 0;}
.toggler-icon {
    background: var(--darker-grey);
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--darker-grey);
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.toggler .top-bar {margin-top: 0px; transform: rotate(135deg);}
.toggler .middle-bar {margin-top: 0px; opacity: 0; filter: alpha(opacity=0);}
.toggler .bottom-bar {margin-top: 0px; transform: rotate(-135deg);}
.toggler.collapsed .top-bar {margin-top: -20px; transform: rotate(0deg);}
.toggler.collapsed .middle-bar {opacity: 1; filter: alpha(opacity=100);}
.toggler.collapsed .bottom-bar {margin-top: 20px; transform: rotate(0deg);}
/* footer */
footer {
    background-color: var(--light-grey);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer img {
    width: 100px;
    height: auto;
}
footer p {
    margin-bottom: 10px;
}
footer ul {
    list-style: none;
    padding: 0;
}
footer ul li {
    margin-bottom: 5px;
}
footer ul li a {
    color: var(--dark-grey);
    text-decoration: none;
}
footer ul li a:hover {
    color: var(--darker-grey);
    text-decoration: none;
}
footer h5 {
    margin-bottom: 5px;
}
#zaposljujemo {
    text-decoration: none;
    color: var(--light-grey);
    background-color: var(--mlin-color);
    border-radius: 1rem;
    line-height: 1.86;
    -webkit-margin-start: 0.625rem;
    margin-inline-start: 0.625rem;
    padding: 0.375em 1em 0.5em 1em;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}
#zaposljujemo:hover {background-color: var(--mlin-dark-color);}
@media screen and (max-width: 297px) {
    .kontakt-container {padding: 0;}
}
/* index page */
.wrapper {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}
@keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
}
.carousel-container {
    overflow: hidden;
}
.carousel {
    display: flex;
    flex-direction: column;
    animation-name: scroll;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.carousel_item {
    width: 100%;
    flex-shrink: 0;
}
.carousel_item img {
    margin: auto;
    width: 90%;
    display: block;
    margin-top: 20px;
    border-radius: 7px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
    @keyframes scroll-horizontal {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-800%);
        }
    }
    .carousel {
        flex-direction: row;
        animation-name: scroll-horizontal;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    .wrapper {
        height: auto;
    }
    #index-title, #index-p {
        text-align: center;   
    }
}
@media (max-width: 992px) {
    .slide-link, .slide-link-inverted {
        width: 100%;
    }
} 
.slider {
    line-height: 1.5;
    box-sizing: border-box;
    position: relative;
    height: 18em;
    overflow: hidden;
    margin: 2em 0;
}
.slider-controls {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    text-align: center;
    transform: translatex(-50%);
    z-index: 1000;
    list-style: none;
    text-align: center;
}
.slider input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
}
.slider-controls label {
    display: inline-block;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--grey);
    transition: background-color 0.2s linear;
}
.slider-controls label:hover {background-color: var(--darker-grey);}
#btn-1:checked~.slider-controls label[for="btn-1"], #btn-2:checked~.slider-controls label[for="btn-2"], #btn-3:checked~.slider-controls label[for="btn-3"] {
    background-color: var(--mlin-color);
}
#btn-1:checked~.slider-controls label[for="btn-1"]:hover, #btn-2:checked~.slider-controls label[for="btn-2"]:hover, #btn-3:checked~.slider-controls label[for="btn-3"]:hover {
    background-color: var(--mlin-dark-color);
}
.slides {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}
.slider-slide {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translatex(-100%);
    transition: transform 250ms linear;
}
.slide-image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-image img {
    width: 200px;
    max-width: 100%;
}
.slide-content {width: 70%;}
.slide-title {
    margin-bottom: 20px;
    font-size: 36px;
}
.slide-text {
    color: var(--dark-grey);
    margin-bottom: 20px;
}
.slide-link {
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    background-color: var(--mlin-color);
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}
.slide-link:hover {background-color: var(--mlin-dark-color); transform: translateY(-2px);}
.slide-link-inverted {
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    color: var(--mlin-color);
    border-radius: 3px;
    border: solid 1px var(--mlin-color);
    text-decoration: none;
    background-color: var(--white);
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}
.slide-link-inverted:hover {
    background-color: var(--mlin-dark-color);
    border-color: var(--mlin-dark-color);
    color: white;
    transform: translateY(-2px);
}
#btn-1:checked~.slides .slider-slide:nth-child(1), #btn-2:checked~.slides .slider-slide:nth-child(2), #btn-3:checked~.slides .slider-slide:nth-child(3) {
    transform: translatex(0);
    opacity: 1;
}
#btn-1:not(:checked)~.slides .slider-slide:nth-child(1), #btn-2:not(:checked)~.slides .slider-slide:nth-child(2), #btn-3:not(:checked)~.slides .slider-slide:nth-child(3) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
}
@keyframes swap-out {
    0% {transform: translatex(0); opacity: 1;}
    50% {transform: translatex(50%); opacity: 0;}
    100% {transform: translatex(100%);}
}
@media screen and (max-width: 992px) {
    .slider {height: 30em;}
    .slider-slide {display: block;}
    .slide-content {width: 100%;}
    .slide-image, .slide-title, .slide-text {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .slide-link {display: block;}
    .slide-image {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .slider {height: 32em;}
}
@media screen and (max-width: 429px) {
    .slider {height: 35em;}
}@media screen and (max-width: 350px) {
    .slider {height: 40em;}
}
.vozni-park-slika {
    display: block;
    border-radius: 3%;
    opacity: 0.85;
    transition: transform 0.3s;
}
.vozni-park-slika:hover {
    transform: scale(1.05);
    opacity: 1;
}
@media screen and (max-width: 992px) {
    .vozni-park-slika{
        margin: 1em 0;
        opacity: 1;
    }
}
.cta-window {padding: 3em; background-color: var(--darker-grey);}
.cta-window h3 {color: var(--light-grey);}
.cta-window p {
    font-size: 1.2em;
    padding-bottom: 1em;
    color: var(--grey);
    margin: 0;
}
.mlin-button {
    background-color: var(--mlin-color);
    text-decoration: none;
    border-radius: 4px;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-height: 56px;
    min-width: 120px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}
.mlin-button:hover {
    background-color: var(--mlin-dark-color);
    transform: translateY(-2px);
}
@media screen and (min-width: 768px) {
    .mlin-button {
        padding: 16px 44px;
        min-width: 150px;
    }
}
.index-text {
    background-color: var(--darker-grey); 
    padding: 3em 0; margin: 1em 0; 
    color: white;
}
/* about us */
.about-us-image {
    width: 100%;
    border-radius: 3%;
}
.about-us h2 {
    text-align: center;
    color: var(--mlin-color);
    font-weight: 650;
    font-size: 3em;
}
.about-us p {
    color: black;
    font-size: 1em;
}
.about-us-text-container p {
    margin: 0 2em;
}
@media screen and (max-width: 992px){
    .about-us {
        display: flex;
        flex-direction: column;
    }
    .about-us .about-us-image-container {
        order: 2;
        margin: 1em 0;
    }
    .about-us .about-us-text-container {
        order: 1;
        margin: 0;
    }
    #about-us-logo {
        display: none;
    }
}
/* poslovni partnerji */
@media screen and (max-width: 992px) {
    .poslovni-partnerji-header-container .poslovni-partnerji-header{order: 1;}
    .poslovni-partnerji-header-container img {margin-bottom: 1em;}
}
@media screen and (min-width: 992px) {
    .poslovni-partnerji-bottom {text-align: center;}
}
.poslovni-partnerji-header {
    margin: auto;
}
.vrednote {
    margin: 3em 0;
    overflow: hidden;
    background: white;
    white-space: nowrap;
    position: relative;
    box-sizing: border-box;
}
.vrednote:before, .vrednote:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}
@media screen and (min-width: 992px) {
    .vrednote:before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    }
    .vrednote:after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    }
}
.vrednote-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}
.vrednote-slide span {
    height: 50px;
    margin: 0 40px;
    text-transform: uppercase;
    font-weight: 650;
}
@keyframes slide {
    from {transform: translateX(0);}
    to {transform: translateX(-100%);}
}
/* socialno */
.iframe {
    width: 100%;
    height: 800px;
}
.socialno-text {
    color: var(--dark-grey);
    font-size: 1.2em;
}
/* zaposlitev */
.mlin-zaposlitev-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mlin-zaposlitev-button {
    border: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    background-color: var(--mlin-color);
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}
.mlin-zaposlitev-button:hover {background-color: var(--mlin-dark-color); transform: translateY(-2px);}
.delovna-mesta-container {
    margin: 1em auto;
    display: flex;
    justify-content: space-around;
}
.delovno-mesto {
    width: 25rem; 
    margin: 1em;
}
@media screen and (max-width: 768px) {
    .delovna-mesta-container {
        display: block;
    }
    .delovno-mesto {
        margin: 1em 0;
        display: block;
        width: 100% ;
    }
}
.job-related-form {
    margin: 1em auto;
    padding: 0 5em;
}
@media screen and (max-width: 992px) {
    .job-related-form {padding: 12px;}
}
.drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
}
.drop-zone.highlight {border-color: #666;}
#file-button {
    border: none;
    text-align: center;
    display: inline-block;
    padding: 6px 12px;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    background-color: #0d6efd;
    transition: background-color 0.3s cubic-bezier(.22, .61, .36, 1);
}
#file-button:hover {background-color: #0a58ca; cursor: pointer;}
#submit-button {
    border: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    background-color: var(--grey);
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
    cursor: auto;
}
#error-message {color: red;}
/* vozni park */
.vozni-park-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 992px) {
    .center-el {order: -1;}
    .vozni-park-container div {margin-top: 1.5em;}
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.vozni-park-paragraph {margin: 1em 15em;}
@media screen and (max-width: 992px) {
    .vozni-park-paragraph {
        margin: 1em 5em;
    }
}
@media screen and (max-width: 650px) {
    .vozni-park-paragraph {
        margin: 1em 1em;
    }
}
/* vrste prevozov */
.vrste-prevozov-top-container {
    display: flex;
    justify-content: space-around;
}
.vrste-prevozov-card {
    width: 22rem;
    margin: 1em 0.5em;
}
.vrste-prevozov-card h3 {
    color: var(--mlin-color);
    font-weight: 650;
}
.vrste-prevozov-card:hover {
    background-color: var(--light-grey);
    cursor: pointer;
}
@media screen and (max-width: 1100px) {
    .vrste-prevozov-top-container {
        display: block;
    }
    .vrste-prevozov-card {
        display: block;
        text-align: center;
        width: 100%;
        margin: 1em 0;
    }
}
.vrsta-prevoza {
    margin: 2em 0;
}
.vrsta-prevoza img {
    border-radius: 2%;
    transition: all linear 0.2s;
}
.vrsta-prevoza img:hover {
    transform: scale(1.05);
}
@media screen and (max-width: 992px) {
    .vrste-prevozov-text-container {
        margin: 1em 1em;
    }
    .vrste-prevozov-text-container h2 {
        margin-top: 0.75em;
    }
}
.vrste-prevozov-text-container {
    margin: auto;
    padding: 0 3em 0;
}
.vrste-prevozov-text-container h2 {
    color: var(--mlin-color);
    font-weight: 650;
}
/* logistika */
.logistika-icons-fluid {
    background-color: var(--light-grey);
    padding-top: 1em;
    margin: 1em 0;
}
.logistika-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.logistika-icon {
    margin: 1em;
}
.logistika-icon p {
    text-align: center;
    padding-top: 1em;
    font-weight: 500;
}
.logistika-icon img {
    width: 110px;
}
.logistika-icons a {
    text-decoration: none;
    color: black;
    transition: linear 0.2s;
}
.logistika-icons a:hover {
    transform: scale(1.05);
}
.logistika-paragraph-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logisitka-besedilo-container article {
    margin: 1em 0;
}
.logistika-paragraph-img {
    margin: 1em 0;
    width: 110px;
}
@media screen and (max-width: 768px) {
    .logisitka-besedilo-container h3, .logisitka-besedilo-container p {
        text-align: center;
    }
}
/* galerija */
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.gallery .image-container {
    margin: 0.3em;
    transition: transform ease-in-out 0.2s;
}
.gallery .image-container img {
    object-fit: cover;
    object-position: bottom;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
@media screen and (min-width: 1280px) {
    .gallery .image-container img {
        width: 640px;
        height: 480px;
    }
    .gallery .image-container:hover {
        transform: scale(1.1);
        z-index: 1000;
    }
}
/* kontakt */
.contact-box {
    margin: 0;
    padding: 0;
    flex-basis: 33.33%;
    width: 33.33%;
}
@media screen and (max-width: 992px) {
    .contact-box {
        flex-basis: 100%;
        width: 33.33%;
        margin: 1em 0;
    }
}
#map {
    height: 300px;
    width: 100%;
}
.mlin-form-button {
    border: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    background-color: var(--mlin-color);
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}
.mlin-form-button:hover {background-color: var(--mlin-dark-color); transform: translateY(-2px);}
@media screen and (max-width: 300px) {
    .submit-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mlin-form-button {width: 100%;}
}
.red {color: red;}
/* poslji povprasevanje */
.drop-zone-povprasevanje {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
}
.drop-zone-povprasevanje.highlight {border-color: #666;}
.poslji-povprasevanje-upload {
    margin: 1em auto;
    padding: 0 1em;
}